body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: 'flex';
}

#tab {
  font-size: '20px';
  padding: '10px 60px';
  cursor: 'pointer';
  opacity: 0.6;
  background: 'white';
  border: 0;
  outline: 0;
  /* display: 'flex'; */
}

.Starter Box {    
  /* // '& .active': { */
    border-bottom: 2px solid blue;
    opacity: 1;
  /* // } */
}

.Refill Box {    
  /* // '& .active': { */
    border-bottom: 2px solid blue;
    opacity: 1;
  /* // } */
}